body {
    background-image: url(photo.avif);
}
* {
    font-family: 'Poppins', sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
.Logo_dec {
    color: green;
    text-transform: uppercase;  
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.4em;
}
.menu_dec {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}

.menu_dec + .menu_dec {
    padding-left: 20px;
}

.menu_soc {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}

.menu_soc + .menu_soc {
    padding-left: 20px;
}
.container {
    padding-top: 150px;
    padding-left: 60px;
}
.container_title {
    margin-bottom: 27px;
    font-size: 45px;
    line-height: 100px;
    color: #ffffff;
    width: 600px;
}
.container_text {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 26px;
    color: #ffffff;
    width: 500px;
}
.container_button {
    background: none;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 100px;
}
.btn {
    text-decoration: none;
    height: 45px;
    padding: 12px;
    color: #ffffff;
    font-size: 18px;
}
.container_button:hover {
    background-color: #ffffff;
    transition: 2s;
}
.btn:hover {
    color: black;
    transition: 2s;
}